.newcomer {
   margin-bottom: var(--offset-section);
   @media (max-width: 1024px) {
      margin-bottom: 60px;
   }
   &__wrapper {
      display: flex;
      justify-content: space-between;
      @media (max-width: 991px) {
         flex-direction: column;         
         align-items: start;
      }
   }

   &__left {
      max-width: 430px;
      margin-right: 100px;
      opacity: 0;
      visibility: hidden;
      height: fit-content;
      transform: translateX(-70px);
      @media (max-width: 1080px) {
         margin-right: 50px;
      }
      @media (max-width: 991px) {
         max-width: 60%;
         margin-bottom: 40px;
      }
      @media (max-width: 750px) {
         max-width: 100%;
      }
      @media (max-width: 700px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
   &__title {
      @media (max-width: 700px) {
         text-align: center;
      }
   }
   &__descr {
      color: var(--color-gray);
      font-size: 18px;
      line-height: 30px;
      margin-bottom: var(--offset-secondary);     
      @media (max-width:700px) {
        text-align: center;
      }
   }

   &__btn {
      padding: 16px 40px;
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 600px;
      @media (max-width: 1080px) {
         max-width: 800px;
      }
      @media (max-width: 991px) {
         max-width: 100%;
      }
      @media (max-width:700px) {
         justify-content: center;
      }
   }

   &__card-descr {
      font-size: 14px;
   }

   &__card {
      flex: 0 0 48%;
      margin-bottom: 50px;
      margin-right: 24px;
      padding: 12px 20px;
      @media (max-width:700px) {
         flex: 0 0 60%;
      }
      @media (max-width: 600px) {
         flex: 0 0 100%;
         margin-right: 0px;
         margin-bottom: 20px;
      }
      &:nth-child(2n) {
         margin-right: 0px;
      }

      &:nth-child(1) {
         display: inline-block;
         transform: translateX(50px);
         opacity: 0;
         visibility: hidden;
         transition: .4s;
      } 
      &:nth-child(2) {
         display: inline-block;
         transform: translateX(50px);
         opacity: 0;
         visibility: hidden;
         transition: .8s;
      } 
      &:nth-child(3) {
         display: inline-block;
         transform: translateX(50px);
         opacity: 0;
         visibility: hidden;
         transition: .4s;
      }   
      &:nth-child(4) {
         display: inline-block;
         transform: translateX(50px);
         opacity: 0;
         visibility: hidden;
         transition: .8s;
      } 
   }
}