.partners {
   margin-bottom: var(--offset-section);
   @media (max-width: 1024px) {
      margin-bottom: 60px;
   }
   &__wrapper {
      padding: 56px 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 25px;
      background-image: url('../../img/partners-bg.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: var(--color-black-light);
      opacity: 0;
      visibility: hidden;
      transition: .6s;
      transform: translateY(-70px);
      @media (max-width: 991px) {
         padding: 30px;
      }
   }
   &__title {
      @media (max-width: 650px) {
         text-align: center;
      }
   }
   &__items {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;    
      @media (max-width: 650px) {
         flex-wrap: wrap;         
      }  
   }

   &__item {
      @media (max-width: 650px) {
         width: 48%;
         margin-bottom: 20px;
      }
      &:not(:last-child) {
         margin-right: 100px;
         @media (max-width: 900px) {
            margin-right: 40px;
         }
         @media (max-width: 650px) {
            margin-right: 0;
         }
      }
   }
}