.popular {
   margin-bottom: 80px;
   @media (max-width: 1024px) {
      margin-bottom: 60px;
   }
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__descr {
      font-size: 18px;
      line-height: 30px;
      color: var(--color-gray);
      text-align: center;
      max-width: 426px;
      margin-bottom: var(--offset-medium);
      @media (max-width: 1024px) {
         margin-bottom: 40px;
      }
   }

   &__items {      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (max-width: 700px) {
         justify-content: center;
      }
      
   }

   &__card {
      flex: 0 0 32%;
      padding: 34px;
      margin-bottom: 100px;  
      display: none;
      @media (max-width: 1024px) {
         margin-bottom: 40px;
      }  
      @media (max-width: 991px) {
         flex: 0 0 48%;
         margin-bottom: 40px;
      }
      @media (max-width: 700px) {
         flex: 0 0 60%;
      }
      @media (max-width: 600px) {
         flex: 0 0 100%;
         margin-bottom: 20px;
      }
      &:nth-child(1) {
         display: inline-block;
         transform: translateX(-50px);
         opacity: 0;
         visibility: hidden;
      } 
      &:nth-child(2) {
         display: inline-block;
         transform: translateY(-50px);
         opacity: 0;
         visibility: hidden;
      } 
      &:nth-child(3) {
         display: inline-block;
         transform: translateX(50px);
         opacity: 0;
         visibility: hidden;
      }    
   }
}
