.reviews {
   margin-bottom: var(--offset-section);
   @media (max-width: 1024px) {
      margin-bottom: 60px;
   }
   &__slider {
      overflow: hidden;
      position: relative;
      padding-bottom: 100px;
   }

   &__item {
      display: flex;
      justify-content: space-between;
      padding: 0 100px;
      @media (max-width: 991px) {
         padding: 0 30px;
       }
      @media (max-width: 900px) {
         flex-direction: column-reverse;         
      }
   }

   &__left {      
      width: 100%;
      background-image: url('../../img/slider-circle.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      @media (max-width: 991px) {
         max-width: 40%;
      }
      @media (max-width: 900px) {
         max-width: 100%;
         background-position: left;
      }      
   }

   &__img-quotemark {
      position: absolute;
      top: 50px;
      left: -40px;
   }

   &__right {  
      margin-left: 100px;  
      position: relative;
      padding-top: 100px;
      max-width: 400px;
      @media (max-width: 991px) {         
         margin-left: 20px;
         max-width: 540px;
      }
      @media (max-width: 900px) {
         max-width: 100%;
         margin-bottom: 40px;
      }
   }

   &__text {
      color: var(--color-primary);
      font-size: 14px;
      line-height: 30px;
   }

   &__who-box {
      padding: 10px 22px;
      max-width: 265px;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 30px;
      border: 2px solid #333C44;
      border-radius: var(--base-border-radius);
      background-color: rgba(40, 48, 54, 0.8);
      overflow: hidden;

      &::after {
         position: absolute;
         content: '';
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: -1;
         border-radius: var(--base-border-radius);
         background-color: rgba(40, 48, 54, 0.1);
      }

      &::before {
         position: absolute;
         content: '';
         bottom: -45px;
         right: -45px;
         background-image: url('../../img/circle-blue.svg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         width: 100px;
         height: 100px;
         z-index: -1;
      }
   }

   &__author {
      color: var(--color-primary);
      font-size: 26px;
      margin-bottom: 8px;
   }

   &__img {
      z-index: -2;
      max-height: 500px;
      @media (max-width: 991px) {
         max-height: 300px;
      }
   }

   &__pos {
      font-size: 16px;
      color: var(--color-gray);
   }
}