<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <a href="#" class="footer__logo logo">
          <img src="img/logo.svg" alt="Antools">
        </a>
        <div class="footer__copy">Copygith 2020. Antools</div>
        <div class="footer__text">Antool is a web collection of information on paid or free Design and Development tools</div>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
            <div class="footer__title">Contact Us</div>           
          </li>
          <li class="footer__item">
            <a href="tel:621987463" class="footer__link">+621987463</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">M Building, No.10 A</a>
          </li>
          <li class="footer__item">
            <a href="mailto:antools@awesome.com" class="footer__link">antools@awesome.com</a>
          </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <div class="footer__title">Categories</div>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Design</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Development</a> 
        </li>       
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <div class="footer__title">Company Info</div>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">About Us</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Our Partners</a>
        </li>
        <li class="footer__item">
          <a href="mailto:antools@awesome.com" class="footer__link">antools@awesome.com</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
