<header class="header">
   <div class="container">
      <div class="header__wrapper">
         <a href="index.html" class="logo" alt="Antools">
            <img src="img/logo.svg" alt="Antools logo">
         </a>
         <nav class="header__nav nav">
            <ul class="header__list">
               <li class="header__item">
                  <a href="#home" aria-label="Home" class="header__link">Home</a>
               </li>
               <li class="header__item">
                  <a href="#popular" aria-label="Categories list" class="header__link header__dropdown">Popular</a>
               </li>
               <li class="header__item">
                  <a href="#newcomer" aria-label="My Collections" class="header__link">New Tools</a>
               </li>
               <li class="header__item">
                  <a href="#reviews" aria-label="Blog" class="header__link">Our Team</a>
               </li>
            </ul>
         </nav>
         <div class="header__buttons">
            <a href="tel:+6777289289" class="header__phone">               
               <span>+6 </span><span>7</span><span>7</span><span>7 </span><span>2</span><span>8</span><span>9 </span><span>2</span><span>8</span><span>9</span>               
            </a>
            <button aria-label="Sign Up" class="header__btn btn btn_reset">Join Us</button>
         </div>
         <button class="burger" data-burger aria-label="Открыть меню" aria-expanded="false">
            <span class="burger__line"></span>
         </button>
      </div>      
   </div>
</header>