<section class="join">
   <div class="container">
      <div class="join__wrapper">
         <h2 class="title join__title scroll-item">Become a contributor?</h2>
         <div class="join__subtitle scroll-item">Join us and get tips & tricks to become a great Designer and Developer</div>         
         <form action="" class="join__form form scroll-item">
            <div class="join__input-box input-box">
               <svg class="search-icon" width="25" height="24" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-opacity="0.38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21 20.9999L16.65 16.6499" stroke="white" stroke-opacity="0.38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
               </svg>
               <input type="text" placeholder="find more than 430+ tools..." class="join__input input-overall scroll-item">
               <button class="btn_reset btn join__btn scroll-item">Search</button>
            </div>
         </form>
      </div>
   </div>
</section>