<section class="partners">
   <div class="container">
      <div class="partners__wrapper scroll-item">
         <h2 class="title partners__title">Trusted more than 150+ brands</h2>
         <div class="partners__items">
            <div class="partners__item">
               <img src="img/miscrosoft.svg" alt="Miscrosoft">
            </div>
            <div class="partners__item">
               <img src="img/wp-partner.svg" alt="Google">
            </div>
            <div class="partners__item">
               <img src="img/slack-partner.svg" alt="Slack">
            </div>
            <div class="partners__item">
               <img src="img/wp-partner.svg" alt="WordPress">
            </div>
         </div>
      </div>
   </div>
</section>