<section class="reviews" id="reviews">
   <div class="container">
      <div class="reviews__wrapper">
         <div class="reviews__slider">
            <div class="swiper-wrapper">               
               <div class="swiper-slide">
                  <div class="reviews__item">
                     <div class="reviews__left">                          
                        <img class="reviews__img" src="img/slider-img1.png" alt="">
                        <div class="reviews__who-box">
                           <div class="reviews__author">Max Cilium</div>
                           <div class="reviews__pos">Manager</div>
                        </div>                          
                     </div>
                     <div class="reviews__right">
                        <img class="reviews__img-quotemark" src="img/quote-mark.svg" alt="">
                        <div class="reviews__text">
                         Incididunt cillum do sint sint enim ullamco id deserunt mollit. Do nulla velit labore occaecat do deserunt Lorem magna officia. Sunt consectetur veniam minim ex commodo sint non. Occaecat aute officia excepteur non laboris id qui ad.
                        </div>
                     </div>
                  </div>
               </div>   
               <div class="swiper-slide">
                  <div class="reviews__item">
                     <div class="reviews__left">                          
                        <img class="reviews__img" src="img/slider-img2.png" alt="">
                        <div class="reviews__who-box">
                           <div class="reviews__author">Stella Brown</div>
                           <div class="reviews__pos">Porduct Manager</div>
                        </div>                          
                     </div>
                     <div class="reviews__right">
                        <img class="reviews__img-quotemark" src="img/quote-mark.svg" alt="">
                        <div class="reviews__text">
                         Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non. Occaecat aute officia excepteur non laboris id qui ad.
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="reviews__item">
                     <div class="reviews__left">                          
                        <img class="reviews__img" src="img/slider-img3.png" alt="">
                        <div class="reviews__who-box">
                           <div class="reviews__author">Ronald Richards</div>
                           <div class="reviews__pos">Porduct Manager</div>
                        </div>                          
                     </div>
                     <div class="reviews__right">
                        <img class="reviews__img-quotemark" src="img/quote-mark.svg" alt="">
                        <div class="reviews__text">
                         Incididunt cillum do sint sint enim ullamco Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, accusantium! id deserunt mollit qui reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non. Occaecat aute officia excepteur non laboris id qui ad.
                        </div>
                     </div>
                  </div>
               </div>                         
            </div>   
            <div class="swiper-pagination"></div>             
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>             
         </div>
      </div>
   </div>
</section>